# compiled output
**/dist
**/global-s3-assets
**/regional-s3-assets
**/open-source
**/.zip
**/tmp
**/out-tsc

# python output
**/__pycache__
**/pytests
**/*.egg-info
**/*.pyc
**/pypackage

# dependencies
**/node_modules

# e2e
**/e2e/*.js
**/e2e/*.map

# misc
**/npm-debug.log
**/testem.log
**/.vscode/settings.json
*~
~*
.idea/
.terraform/

# System Files
**/.DS_Store
**/.vscode
