{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
